/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* директива шрифта */
@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Black.ttf);
    font-weight: 900;
}

body {
    font-family: Heebo;
    /* background-color: aquamarine; */
}

/* header */

.header {
    padding: 28px 60px;
}

.header__link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.header__link--active {
    color: #FF6464;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.header__nav {
    display: flex;
    justify-content: end;
}

/* header */

/* first */

.first {
    padding: 230px 0 170px 0;
}

.first__container {
    max-width: 856px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* margin расчет автоматический 
0 это верх и низ, 
авто это края */


.first__description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    max-width: 600px;

}

.first__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
    color: #21243D;
}

.first__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #21243D;
}

.first__image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    box-shadow: -5px 13px 0 #EDF7FA;
}

/* first */

/* button */

.button.first__button {
    text-decoration: none;
    background-color: #FF6464;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 2px;
}

/* button */