* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 28px 60px;
}

.header-links {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.header-nav {
    display: flex;
    justify-content: end;
}