/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* директива шрифта */
@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Black.ttf);
    font-weight: 900;
}

body {
    font-family: Heebo;
    /* background-color: aquamarine; */
}

/* header */

.header {
    padding: 28px 60px;
}

.header__nav {
    display: flex;
    justify-content: end;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.header__link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.header__link--active {
    color: #FF6464;
}

@media screen and (max-width: 576px) {
    .header {
        justify-content: center;
        padding: 14px 30px;
   } 
   .header__nav {
        justify-content: center;
   } 
   .header__list {
        flex-direction: column;
        gap: 16px;
        align-items: center;
   }
}




/* first */

.first {
    padding-top: 127px;
    padding-bottom: 68px;
}

.first__container {
    width: calc(100% - 60px * 2);
    max-width: 856px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.first__description{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    max-width: 600px;
}

.first__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
    color: #21243D;
}

.first__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #21243D;
}

.first__image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    box-shadow: -5px 13px 0 #EDF7FA;
}

@media screen and (max-width: 840px) {
    .first {
        padding-top: 60px;
        padding-bottom: 34px;
    }
    .first__container {
        width: calc(100% - 30px * 2);
        gap: 20px;
    }
    .first__description {
        gap: 20px;
        max-width: 100%;
    }
    .first__title {
        font-size: 36px;
    }
    .first__image {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 720px) {
    .first {
        padding-top: 40px;
        padding-bottom: 28px;
    }
    .first__title {
        font-size: 28px;
    }
    .first__text {
        font-size: 14px;
    }
    .first__image {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 576px) {
    .first {
        padding-top: 32px;
        padding-bottom: 20px;
    }
    .first__container {
        flex-direction: column-reverse;
        align-items: center;
        width: calc(100% - 10px * 2);
        gap: 20px;
    }
    .first__description {
        align-items: center;
    }
    .first__title {
        font-size: 24px;
        text-align: center;
    }
    .first__text {
        font-size: 12px;
        text-align: center;
    }
    .first__image {
        width: 150px;
        height: 150px;
    }
}

/* button */

.button.first__button {
    text-decoration: none;
    background-color: #FF6464;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 2px;
}